views/partials/nav.ejs
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/api/assignment">
                <span class="glyphicon glyphicon glyphicon-cog"></span>
                Add an Assignment
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/api/nextassignment">Next Assignment</a></li>
        </ul>

    </div>
</nav>