<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		{{!-- <script src= "../js/howto.js" type ="text/javascript"> </script> --}}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
		{{!-- <link rel="stylesheet" href="/css/style.css" type="text/css" /> --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		
		<title>Hmwrk App</title>
	</head>
	<body>
		{{{ body }}}
		<script src="../../public/js/assign.js"></script>
	</body>
</html>


<head>
  
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Hmwrk Slackbot</title>

    <!-- STYLESHEETS -->
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>