<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Hmwrk Slackbot</title>

    <!-- STYLESHEETS -->
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/api/amend">
                <span class="glyphicon glyphicon glyphicon-cog"></span>
                Add an Assignment
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            {{!-- <li><a href="/"></a></li> --}}
            <li><a href="/login/github">Login with Github</a></a></li>
            {{!-- <li><a href="/api/update">Update Assignment</a></li> --}}
            <li><a href="/api/next-assignment">Next Assignment</a></li>
            
        </ul>

    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
<h1>Welcome to the Hmwrk Admin App</h1>

<p class ="home">Please login in above and proceed to adding/deleting or updating an assignment</p>


<img src="http://slang.org/wp-content/uploads/2016/12/hmwrk-1024x772.jpg" style='width:100%;' border="0" alt="Null">
<br>



</div>
</body>

{{!-- <style>
  body{
    background-color:lightyellow;
  }
</style> --}}

