<h1>Commands for HMWRKBOT</h1>
<script src= "../js/howto.js" type ="text/javascript"> 
<table>
    <thead> 
        <th>Commands</th> 
        <th>Input</th> 
        <th>What the command does</th> 
    </thead> 
    <tbody> 
        {{#commands}} 
        <tr> 
            <td>{{command input}}</td> 
            <td>{{whatToType}}</td> 
            <td>{{whatItDoes}}</td> 
        </tr> 
        {{/commands}} 
    </tbody> 
</table> 
</script>
