<!DOCTYPE html>
<html lang="en">

    <% include ./partials/head %>

    <body>

        <% include ./partials/nav %>

        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>Hmwrk Slackbot Admin Page</h1>
				<% if (!user) { %>
					<p>Welcome! Please <a href="/login">log in</a>.</p>
				<% } else { %>
					<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
				<% } %>
            </div>
        </section>

        <% include ./partials/footer %>

        <% include ./partials/scripts %>

    </body>

</html>










