li {
    padding: 5px;
    margin: 5px;
    background:rgb(190, 240, 190);
  }

  a {
    font-size: 24px;
  } 
   
  h1{
    text-align:center;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  a.navbar-brand{
    color:green;
    font-size:24px;
  }
  
  h2{
    text-align:center;
    font-size:24px;
  }
  
  h3{
    text-align:center;
  }
  
  .label {
    font-weight: bold;
    text-decoration:underline;
  }

  span.label, a.label{
    font-size:24px;
    padding-bottom:15px;
  }
  
  .update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(190, 240, 190);
    font-size:20px;
  }
  
  button.update-form{
    background-color:white;
  }

  .delassignment{
    font-size:20px;
  }
  
  #name, #type, #completed, #details, #required, #link{
    width: 360px;
    height:40px;
    padding-top: 10px;
    margin-left:20px;
  }
  #due{
    width: 360px;
    height:40px;
    margin-left:20px;
  }
  #link{
    width:360px;
    height:130px;
  }
  
  .form-group {
    margin-bottom: 5px;
  } 

  .label{
    font-size:16px;
    color:black;
  }

  p{
    font-size: 24px;

  }

  .home{
    font-size:30px;
    text-align:center;
  }

  .add{
    text-align:left;
    font-size: 28px;
    color: red;
    margin-left:40px;
  }
  
  img{
   display: block;
   margin:auto;
  }
  
  .create-form{
    margin-left: 40px;
  }

  label{
    font-size: 20px;
  }
  
  .buttonadd{
    font-size:30px;
    margin-bottom: 50px;
    background-color:navy;
    color:white;
  }

  /* Responsive design, smallest device first */

#rendered .title::after {
  content: ' - Phone';
}
@media (min-width: 480px) {
  #rendered .title::after {
      content: ' - Phone large';
  }
  #rendered {
      width: 96%;
      font-size: 110%;
  }
}
@media (min-width: 768px) {
  #rendered .title::after {
      content: ' - Tablet';
  }
  #rendered {
      width: 80%;
      font-size: 120%;
  }
}
@media (min-width: 992px) {
  #rendered .title::after {
      content: ' - Desktop';
  }
  #rendered {
      width: 70%;
      font-size: 130%;
  }
  #rendered li {
      margin: 0.5em;
  }
}
@media (min-width: 1200px) {
  #rendered .title::after {
      content: ' - Desktop large';
  }
  #rendered {
      width: 60%;
      font-size: 140%;
  }
}
  